:root {
  --brightness: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.bars,
.image {
  width: 50%;
}

.bars {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.bar {
  width: 100%;
}
.sample-image {
  max-width: 400px;
  filter: brightness(var(--brightness));
}
