:root {
  --brightness: 100%;
  --contrast: 100%;
  --saturation: 100%;
  --hue: 0deg;
  --blur: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin: 50px;
}
.app-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.bars,
.image {
  width: 50%;
}
.input-container {
  margin: 25px 0;
}
.bars {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.bar {
  width: 100%;
}
.sample-image {
  max-width: 400px;
  filter: brightness(var(--brightness)) contrast(var(--contrast))
    saturate(var(--saturation)) hue-rotate(var(--hue)) blur(var(--blur));
}
