@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  margin-top: 100px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn {
  width: 25px;
  height: 25px;
}
.font-bold {
  font-weight: bold;
}
.font-italic {
  font-style: italic;
}
.font-underline {
  text-decoration: underline;
}
