* {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-container {
  width: 90%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 10px;
  background-color: lightgray;
  /* height: 3dvh; */
}
button {
  padding: 5px 10px;
  padding: 5px 10px;
}
button:hover {
  cursor: pointer;
}
